@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Azure Basics, A web application build in ASP.NET Core</a>.</p>
</div>
